<h1><%= @product.name %> </h1>
<h4><%= @product.description %> </h4>
<%= image_tag @product.image %>
<h6>$<%= @product.price %> </h6>
<h6>Reviews</h6>
<% @product.reviews.each do |review| %>
  <div class="card">
    <p><%= review.comment %></p>
    <p><%= review.user.name %></p>

    <% if current_user.admin %>
      <%= link_to "Delete Review", product_review_path(@product, review), data: {confirm: "Delete User's Review?", method: "delete"} %>
    <% end %>

  </div>
<% end %>
<br>

<%= link_to "Add Review", new_product_review_path(@product) %>
<% if current_user.admin %>
  | <%= link_to "Edit", edit_product_path(@product) %> |
  <%= link_to "Delete", product_path(@product), :data => {:confirm => "Delete Shoe?", method: "delete"} %>
<% end %>
<br>
<br>
<button type="button" class="btn black">Add to Cart</button>
