<h1><%= @product.name %> </h1>
<%= image_tag @product.image(:medium) %>
<div class="card grey lighten-4">
  <h5><%= @product.description %> </h5>
  <h4>$<%= @product.price %> </h4>
</div>
<button type="button" class="btn black">Add to Cart</button>
<br><br>
<h4>Reviews</h4>
<%= link_to "Add Review", new_product_review_path(@product) %>
<% @product.reviews.each do |review| %>
  <div class="card blue-grey lighten-5">
    <p><%= review.comment %></p>
    <p><%= review.user.name %></p>

    <% if current_user.admin %>
      <%= link_to "Delete Review", product_review_path(@product, review), data: {confirm: "Delete User's Review?", method: "delete"} %>
    <% end %>

  </div>
<% end %>
<br>


<% if current_user.admin %>
  <%= link_to "Edit", edit_product_path(@product) %> |
  <%= link_to "Delete", product_path(@product), :data => {:confirm => "Delete Shoe?", method: "delete"} %>
<% end %>
