<!DOCTYPE html>
<html>
  <head>
    <title>EliteShoes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <div class="nav-wrapper black">
        <a href="/" class="brand-logo">Elite</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if user_signed_in? %>
            <strong><%= current_user.email %></strong>
            <li><%= link_to "Shoes", products_path, :class => 'navbar-link'  %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
           <% else %>
             <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
             <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
           <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </body>
</html>
